<h2>Products</h2>


<div *ngFor="let product of products">
 <h3 class="box">
    <a [title]="product.name + ' details'" [routerLink]="['/product', product.link]">{{ product.name }}</a>
  </h3>

  <figure class="product__figure">
    <img *ngIf="product.image" class="product__image" [src]="product.image" alt="" width="140"/>
  </figure>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <p *ngIf="product.rating">
    Rating: {{ product.rating}}
  </p>

  <a href="https://t.me/share/url?url={{product.link}}&text={{product.description}}"><button (click)="share()">Share
  </button></a>

  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>

</div>

